@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

#title {
    margin-left: 10px
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.line {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
}

.line1 {
    fill: none;
    stroke: blue;
    stroke-width: 1.5px;
}

.line2 {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

