.d-inline-block {
    margin-left: 10px
}

#sma-chart {
    margin-left: 10px
}

#home-button {
    margin-left: 10px
}

#time-title {
    margin-left: 10px
}

#back-button {
    float: right;
    margin-right: 10px
}